Django>=5.0,<6.0
psycopg2-binary>=2.9.9
gunicorn>=21.2.0
whitenoise>=6.6.0
django-environ>=0.11.2
Pillow>=10.2.0
django-tailwind>=3.8.0
django-browser-reload>=1.12.1
django-unfold>=0.106.0
django-ckeditor-5>=0.2.20
pymysql>=1.1.0
cryptography>=42.0.0
python-dotenv>=1.0.0
openpyxl>=3.1.2
dnspython>=2.6.0
requests>=2.31.0
pyisemail>=2.0.1
py3-validate-email>=1.0.5

